.body-form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69vh;
  }
  .login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  .login-header {
    margin-bottom: 20px;
    text-align: center;
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .space-x-nav{
    background-color: rgb(116 185 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .ship-images {
    background-color: white;
    overflow: hidden;
    position: relative;
    width: 450px;
  }