<div class="body-form-login">
  <div class="login-container">
      <div class="login-header">
          <h2>Login</h2>
      </div>
      <form ng-submit="myFunc()">
          <div class="mb-3">
              <label for="exampleInputName" class="form-label">Name</label>
              <input id="exampleInputName" class="form-control" type="text" ng-model="userName" required>
          </div>
          <div class="mb-3">
              <label for="exampleInputSdt" class="form-label">Phone Number</label>
              <input id="exampleInputSdt" type="text" class="form-control" ng-model="phoneNumber" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
  </div>
</div>