<div class="body-form-login">
  <div class="login-container">
      <div class="login-header">
          <h2>Login</h2>
      </div>
      <form ng-submit="myLoginFunc($event)">
          <div class="mb-3">
              <label for="userName" class="form-label">Name</label>
              <input id="userName" class="form-control" type="text" ng-model="userName" required>
          </div>
          <div class="mb-3">
              <label for="passWord" class="form-label">Password</label>
              <input id="passWord" type="text" class="form-control" ng-model="password" required>
              <span class="password-invalid"> can nhap dung pass word </span>
          </div>
          <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
  </div>
</div>